spring:
  config:
    activate:
      on-profile: aws
  data:
    elasticsearch:
      repositories:
        enabled: true

  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update # 운영환경에서는 절대 create 아님
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
        default_batch_fetch_size: 300

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  access-token-valid-time: 600000
  refresh-token-valid-time: 3600000

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_BUCKET_NAME}

app:
  s3:
    default-profile: ${S3_DEFAULT_PROFILE}

opensearch:
  endpoint: ${OPENSEARCH_ENDPOINT}

oauth:
  google:
    client-id: ${GOOGLE_CLIENT_ID}
    client-secret: ${GOOGLE_CLIENT_SECRET}
    redirect-uri: ${GOOGLE_REDIRECT_URI}
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
  naver:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}
    redirect-uri: ${NAVER_REDIRECT_URI}

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    com.example.facticle: DEBUG
